body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: tomato;
}
.card {
  text-align: center;
  width: 500px;
  height: 400px;
  background-color: #f9f9f9;
  margin-left: 400px;
  margin-top: 90px;
  border-radius: 3px;
}
.p {
  padding: 20px;
  color: #fff;
  background-color: green;
}
.form {
  display: block;

}
.labels {
  font-weight: 800px;
}
.left{
  margin-left: -29px;
}
.input,
input[type="text"] {
  
  padding-left:5px;
  width: 60%;
  height: 25px;
  margin: 8px ;
  outline: none;
  border:2px solid #000;
  border-radius: 3px;
}
.btn-submit {
  margin-top: 10px;
  background-color: green;
  border: green;
  border-radius: 3px;
  width: 110px;
  height: 40px;
  color: #fff;
  outline: none;

}
.p-response {
  text-decoration: underline;
  margin:15px; 
  font-weight: 500;
}
